@charset "UTF-8";
/*remove all default space*/
*, html, body {
  margin: 0;
  padding: 0; }

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-right: 10px;
  vertical-align: middle; }

/*global*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

.middle {
  text-align: center; }

.col-sm-l {
  display: inline-block;
  float: left;
  width: 100%;
  max-width: 45%; }

.col-sm-r {
  display: inline-block;
  float: right;
  width: 100%;
  max-width: 45%; }

.content {
  display: block;
  clear: both;
  padding: 20px;
  min-height: 460px;
  height: auto; }

.sticky {
  position: sticky;
  top: 0; }

.main {
  width: 70%;
  float: left;
  margin-left: 50px;
  padding-left: 10px;
  padding-bottom: 30px;
  padding-right: 10px; }

.error {
  color: red;
  text-align: center;
  font-size: 15px; }

.success {
  color: green;
  text-align: center !important;
  font-size: 15px; }

.header-title {
  margin-bottom: 20px; }
  .header-title h1 {
    padding-bottom: 10px; }

/*Buttons*/
button {
  padding: 10px;
  border: none;
  color: white;
  background: #0A0A24;
  outline: none; }
  button:hover {
    background: #239edb; }

.button-submit button {
  width: 100%;
  font-size: 20px;
  font-weight: 400; }

/*end buttons*/
.hidden {
  display: none !important; }

.nav-none {
  display: none !important; }

body {
  font-family: "Helvetica Neue", Helvetica-, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857; }

/*end global*/
.header {
  padding: 0 150px;
  background: #0A0A24;
  height: 90px;
  z-index: 5000; }
  .header .logo {
    display: inline-block;
    float: left; }
    .header .logo img {
      max-width: 50%; }
  .header .nav {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    float: right;
    padding: 10px 0; }
    .header .nav a {
      text-align: center;
      color: white;
      text-decoration: none;
      padding: 20px 0; }
    .header .nav ul {
      display: inline-block;
      list-style-type: none;
      padding: 10px 0;
      text-transform: Capitalize; }
      .header .nav ul li {
        display: inherit;
        padding: 15px; }
        .header .nav ul li .submenu {
          display: none;
          position: absolute;
          margin: 15px 0 0 -15px;
          background: #0A0A24; }
          .header .nav ul li .submenu ul {
            display: block;
            margin-top: 10px; }
            .header .nav ul li .submenu ul li {
              display: block;
              width: 150px;
              border-bottom: 1px solid rgba(219, 219, 35, 0.54);
              background: transparent;
              border-radius: 0;
              text-align: left; }
              .header .nav ul li .submenu ul li:hover {
                background: #239edb; }
              .header .nav ul li .submenu ul li:last-child {
                border-bottom: none; }
        .header .nav ul li:hover {
          background: #239edb; }
          .header .nav ul li:hover .submenu {
            display: block; }

.sidebar {
  clear: both;
  width: 20%;
  height: 100%;
  padding: 0;
  margin-bottom: 25px;
  background: #0A0A24;
  color: #FCFCFC;
  float: left;
  position: sticky;
  top: 0; }
  .sidebar .sidebar-menu {
    overflow: hidden;
    display: block; }
    .sidebar .sidebar-menu .avatar {
      width: 70px;
      height: 70px;
      padding: 10px 0; }
    .sidebar .sidebar-menu .user {
      font-size: 11px;
      color: rgba(219, 219, 35, 0.54);
      padding: 10px 0; }
    .sidebar .sidebar-menu ul {
      list-style-type: none;
      display: inherit;
      padding: 15px 0 100px 0;
      margin-top: 0; }
      .sidebar .sidebar-menu ul li {
        border-bottom: 2px solid rgba(219, 219, 35, 0.54); }
        .sidebar .sidebar-menu ul li a {
          display: inherit;
          padding: 20px 0 20px 15px;
          text-decoration: none;
          vertical-align: center;
          color: #FCFCFC;
          border-left: 7px solid transparent; }
          .sidebar .sidebar-menu ul li a:hover {
            color: inherit;
            border-color: #239edb; }
          .sidebar .sidebar-menu ul li a.active {
            border-color: #239edb; }
        .sidebar .sidebar-menu ul li:last-child {
          border-color: #444421; }

.footer {
  padding: 20px 150px;
  clear: both;
  background: #0A0A24;
  color: white;
  height: 30px;
  display: block; }
  .footer .footer-text {
    display: block;
    float: left;
    text-align: center;
    font-size: 10px;
    font-weight: 200;
    padding-top: 10px; }
  .footer .footer-icon {
    display: block;
    vertical-align: center; }
    .footer .footer-icon img {
      width: 40px;
      float: right; }

/* FORMS !!! ********
*signup and login page
 */
.form-area {
  padding: 20px 0; }

.form-wrapper {
  margin: 10px;
  display: block;
  overflow: hidden; }

/*this is to ensure input and labels dont span outside its parent*/
input, label {
  box-sizing: border-box; }

.login-form form, .signup-form form, .my_acc form {
  overflow: hidden;
  /*uncomment if label is added*/ }
  .login-form form label, .signup-form form label, .my_acc form label {
    display: inline-block;
    margin-bottom: 5px;
    width: 100%;
    /*input masked in labels*/ }
    .login-form form label input, .login-form form label select, .signup-form form label input, .signup-form form label select, .my_acc form label input, .my_acc form label select {
      display: inline-block;
      padding: 10px; }
  .login-form form input, .login-form form select, .signup-form form input, .signup-form form select, .my_acc form input, .my_acc form select {
    display: inline-block;
    padding: 10px;
    width: 100%; }

.form-cta, .form-reminder {
  margin: 10px; }
  .form-cta .forgotpwd, .form-cta .signup, .form-cta .login, .form-reminder .forgotpwd, .form-reminder .signup, .form-reminder .login {
    display: inherit;
    font-size: 12.5px; }
    .form-cta .forgotpwd a, .form-cta .signup a, .form-cta .login a, .form-reminder .forgotpwd a, .form-reminder .signup a, .form-reminder .login a {
      text-decoration: none;
      color: black; }
      .form-cta .forgotpwd a:hover, .form-cta .signup a:hover, .form-cta .login a:hover, .form-reminder .forgotpwd a:hover, .form-reminder .signup a:hover, .form-reminder .login a:hover {
        text-decoration: underline;
        text-decoration-color: #0A0A24;
        padding-bottom: 3px; }
  .form-cta .forgotpwd, .form-cta r_login, .form-reminder .forgotpwd, .form-reminder r_login {
    text-align: left; }
  .form-cta .signup, .form-cta .login, .form-reminder .signup, .form-reminder .login {
    text-align: right !important; }

/*Declaration Forms arena*/
.form-declaration h3 {
  text-align: center;
  padding: 15px; }
.form-declaration form input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #0A0A24;
  padding: 0 5px 0 5px;
  box-sizing: border-box; }
  .form-declaration form input:hover, .form-declaration form input:active, .form-declaration form input:focus {
    background: #B9DEED;
    outline: none; }
  .form-declaration form input[type="date" i] {
    padding-right: 2px; }
.form-declaration form ul {
  list-style: none; }
  .form-declaration form ul li {
    padding-bottom: 5px; }
    .form-declaration form ul li::before {
      content: '▶';
      margin-right: 5px; }
    .form-declaration form ul li .reason label {
      display: block;
      padding: 5px 0 5px 10px; }
.form-declaration form .reason-stmt textarea {
  width: 100%;
  max-width: 70%;
  outline: none;
  padding: 10px; }
.form-declaration form .submit-date input {
  max-width: 19%;
  padding-right: 0; }
.form-declaration form .submit-date input, .form-declaration form .submit-cf input {
  border-bottom: none !important; }
  .form-declaration form .submit-date input:hover, .form-declaration form .submit-date input:active, .form-declaration form .submit-date input:focus, .form-declaration form .submit-cf input:hover, .form-declaration form .submit-cf input:active, .form-declaration form .submit-cf input:focus {
    background: none;
    outline: none; }
.form-declaration form .spacing {
  padding: 10px 0;
  margin-bottom: 30px; }
.form-declaration form .preview input {
  text-align: center; }
  .form-declaration form .preview input:hover, .form-declaration form .preview input:active, .form-declaration form .preview input:focus {
    background: transparent; }
.form-declaration .prev_declr {
  text-align: right !important;
  margin-top: 15px; }
  .form-declaration .prev_declr a {
    text-decoration: none;
    color: white;
    background: #0A0A24;
    padding: 10px; }
    .form-declaration .prev_declr a::after {
      content: ' →';
      margin-left: 5px; }
    .form-declaration .prev_declr a:hover {
      background: #239edb; }

/*tables*/
.table_header {
  border-collapse: collapse; }
  .table_header tr th {
    text-align: center;
    padding: 10px;
    border: 1px solid #239edb; }
  .table_header tr td {
    padding: 10px;
    max-width: 147px;
    border: 1px solid #239edb;
    font-size: 13px; }
    .table_header tr td :last-child :before {
      content: '\1F50D'; }
  .table_header button {
    background: transparent; }
    .table_header button:hover, .table_header button:active, .table_header button:focus {
      background: transparent; }

/*User profile photo*/
.media .button {
  padding: 5px 10px;
  background: #0A0A24;
  border: none;
  color: white; }
  .media .button:hover {
    background: #239edb; }

/*Mobile and responsiveness*/
/*
//desktop
@media only screen and (min-width: 900px) {

}


//tablet
@media only screen and (max-width: 600px) {
  
}

//mobile
@media only screen and (max-width: 425px) {

}
*/

/*# sourceMappingURL=temp1.css.map */
