$fa-font-path: "_content/fontawesome/webfonts";
$blue: #0A0A24;
$navy_blue: #239edb;
$light_blue: #B9DEED;
$yellow:#dbdb23;
$yellow_opa: rgba(219, 219, 35, 0.54);
$white: #FCFCFC;
$brown: #3E4652;
$brown_opa: #4C5563;
$red: red;